<section></p>
<footer>
  &copy; Copyright 2020 - {{ metadata.tagline }}
  <br/><br/>
  <em>n.b.</em>If reading on a phone, you can click on the small footnote numbers to see the "sidenotes" or the &#8853; symbol 
  to see the margin notes ot pictures/gifs.
</footer>
</p></section>
