<nav>

  <div class="header">
    <a href="/" class="logo">Kent On Rails - Disconnected Dots</a>
    <div class="header-right">
      <!-- <a class="active" href="/posts">Home</a> -->
      <a href="/about">About</a>
    </div>
  </div>

</nav>
