<nav>

  <div class="header">
    <a href="/" class="logo">Kent On Rails - Disconnected Dots</a>
    <div class="header-right">
      <!-- <a href="/404">Ooops</a>  -->
      <a href="/about">About</a>
    </div>
  </div>

</nav>
